<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- Safari, you're the worst -->
    <meta name='format-detection' content='telephone=no'>
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <%= t.include("partials/_nav.html") %>

    <%= t.include("partials/_ad.html", { type: "banner" }) %>

    <header class="top">
      <h1><img src="./assets/header.jpg" alt="Seattle Times Summer Guide"></h1>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.
    </header>

    <main class="table-container">

      <nav class="filters">
        <div>
          <h2 class="nav-header">Choose categories</h2>
          <% var cats = [
            { data: "books", label: "Books &amp; Authors" },
            { data: "classical", label: "Classical Music &amp; Opera" },
            { data: "pop", label: "Pop, Rock &amp; Jazz" },
            { data: "dance", label: "Dance" },
            { data: "comedy", label: "Comedy" },
            { data: "theater", label: "Theater" },
            { data: "art", label: "Visual Art" },
            { data: "classTest", label: "test" }
          ] %>
          <ul class="categories">
            <% cats.forEach(function(cat) { %>
            <li>
              <input type="checkbox" data-category="<%= cat.data %>" id="<%= cat.data %>" checked="checked">
              <label for="<%= cat.data %>"><%= cat.label %></label>
            </li>
            <% }) %>
          </ul>
        </div>

      <!-- month filter -->

        <div>
          <h2 class="nav-header">Choose a month</h2>
          <% var meses = [
            { data: "may", label: "May" },
            { data: "june", label: "June" },
            { data: "july", label: "July" },
            { data: "august", label: "August" },
          ] %>
          <ul class="meses">
            <% meses.forEach(function(mes) { %>
            <li>
              <input type="checkbox" data-month="<%= mes.data %>" id="<%= mes.data %>" checked="checked">
              <label for="<%= mes.data %>"><%= mes.label %></label>
            </li>
            <% }) %>
          </ul>
        </div>
      <!-- end month filter -->

        <div class="advanced">
          <input type="text" placeholder="Search events" class="search">
          <input type="checkbox" class="editors" id="editors">
        </div>
      </nav>

      <table class="summer-events">
        <thead>
          <tr>
            <th class="category">
            <th class="date">Date
            <th class="event">Event
            <th class="location">Location
            <th class="description">Description
        <tbody class="events">
          <% var icons = {
            books: "bookauthors",
            classical: "classicalopera",
            comedy: "comedy",
            dance: "dance",
            pop: "poprockjazz",
            theater: "theater",
            todo: "todolist",
            art: "visualart"
          } %>
              <% json.guide.forEach(function(item) { %>
          <tr
            data-category="<%= item.className %>" 
          >

            <td class="category"> <!--UPDATE THIS WITH CORRECT PHOTO NAME" -->
              <img src="./assets/icons/TEST.png" 
                alt="<%= item.category %>"
                title="<%= item.category %>"
              >
            </td>
            <td class="date"><%= item.dates %>
            <td class="event">
              <% if (item.website) { %>
              <a href="<%= item.website %>">
              <% } %>
              <%= item.event %>
              <% if (item.website) { %>
              </a>
              <% } %>
            <td class="location"><%= item.location %>
            <td class="description">
              <%= item.info %>
              <% if (item.phone) { %>
              <div class="phone">Call for info: <%= item.phone %></div>
              <% } %>
          <% }) %>
        <tbody class="emptied">
          <tr>
            <td colspan="99">No results found</td>
      </table>
      <div class="credits">
        Originally published: May. 12, 2017
      </div>
    </main>

    <%= t.include("partials/_dontMiss.html", { data: [{
      link: "http://www.seattletimes.com/entertainment/movies/from-snowden-to-sully-to-doctor-strange-15-fall-films/",
      head: "From ‘Snowden’ to ‘Sully’ to ‘Doctor Strange’: 15 fall films",
      image: "teasers/teaser_movies.jpg"
    }, {
      link: "http://www.seattletimes.com/entertainment/books/what-did-we-read-this-summer-check-out-the-libraries-most-requested-books/",
      head: "What did we read this summer? Check out the libraries’ most-requested books",
      image: "teasers/teaser_books.jpg"
    }, {
      link: "http://www.seattletimes.com/life/food-drink/save-the-dives-great-seattle-area-bars-to-celebrate-before-theyre-gone/",
      head: "Save the dives: great Seattle-area bars to celebrate before they’re gone",
      image: "teasers/teaser_dives.jpg"
    }, {
      link: "http://www.seattletimes.com/life/food-drink/6-seattle-spots-for-truly-great-pizza/",
      head: "6 Seattle spots for truly great pizza",
      image: "teasers/teaser_pizza.jpg"
    }]}) %>

    <%= t.include("partials/_navBottom.html") %>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
